* {
    box-sizing: border-box;
}

header {
    margin: 0 auto;
    padding: 15px;
    /* background-color: rgb(51, 51, 51); */
    height: 100px;
   width: 960px;;
    
}


header div{
    display: inline-block;
}
 #hh1{
    float: left;
    text-align: left;
}
header h1 {
    margin-bottom: 59px;
    position:absolute;
    left: 250px;
    font-family: 'Yellowtail', cursive;
    font-size: 37px;
    width: fit-content;
    display: inline-block;
}
   

header h2 {
    font-family: 'Abel', sans-serif;
    font-size: small;
    color: gray;
    margin-top: 35px;
    margin-left:7px ;
   display: inline-block;
}

header nav ul{
    position: relative;
    text-align: left;
    margin-bottom: 75px;
    float: right;
 
    
}

header nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-bottom: 75px;
    margin-top: -20px;
}

header nav ul li:nth-last-child(2) {
    padding-left: 10px;

}

main{

    width: 960px;
    margin:30px auto;
    background-image: url("hr-img.png");
  background-repeat: repeat-x;

}

#one {
    padding: 23px;
}

#one h2{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    font-weight: solid 10px black;
    display: inline-block;
}
#one h3{
    font-family: 'Abel', sans-serif;
    font-size: small;
    color: gray;
    margin-top: 35px;
    margin-left:7px ;
   margin-right: 20px;
   margin-top: 5px;
}


#one h3 label{
    float: right;
    padding-left: 638px;
    padding-bottom:15px ;
    color: gray;
}

#two {
    margin-left: 23px;
}

#two article p{
    margin: 10px auto;

}

#three {
  height: 150px;
    background-image: url("list-bg.png");
   
}
#four{
    background-image: url("hr-img.png");
    background-repeat: repeat-x;
    width: 960px;
}

 h4{
    float:left;
left: 50px;
margin-top: 20px;
padding-left: 10px;
font-family:'Abel', sans-serif;
font-weight: bold;
font-size: 20px;
}

#img2{
 float: left;
}
#four pre{
  
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;
display: inline-block;
margin-right: 265px;
color: gray;

}
  button{
float: right;

width: 200px;
height: 50px;
background-color:rgb(185, 58, 58);
color: white;
cursor: pointer;


}

div.bt{
margin-top: -250px;
margin-right: -5px;
padding-left: 10px;
padding-bottom:50px;
margin-top: -50px;

}
#ul1 {
    float: left;
    margin-left: 150px;
}
#ul2 {
    float:right;
    margin-right: 150px;
}

.footer_bottom {
	width:100%;
	text-align:center;
	border-bottom: 2px solid #CEC5BA;
	line-height:0.1em;
margin-top: 70px;
}
.footer_bottom img {
	position:absolute; 
    left:50%;
    margin-left:-10px;
}

footer{
    text-align: center;
    color:gray;
}